# Zip

In [1]:
a = b = c= list(range(20))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
list(zip(a,b,c))

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19)]

# Process Time

In [6]:
import datetime
start = datetime.datetime.now()
x = ["hello world ", "good bye"]
for i in x:
    for j in i:
        print(j)
finish = datetime.datetime.now()
print(finish-start)

h
e
l
l
o

w
o
r
l
d

g
o
o
d

b
y
e
0:00:00.001386

# Lambda

lambda arguments: expression

In [7]:
add5 = lambda x: x + 5
add5(7)

12

In [9]:
square = lambda x: x * x
square(8)

64

In [11]:
get_tens_remainder = lambda x: int(x/10)%10
print(get_tens_remainder(749))
print(get_tens_remainder(836.21))

4
3

# Lambda Sort

In [13]:
list1 = [('eggs', 5.25), ('honey', 9.70), ('carrots', 1.10), ('peaches, 2.45')] #list of tuples
list1.sort(key = lambda x: x[0]) #using key function, sorts by key (0 for key, 1 for value)
list1

[('carrots', 1.1), ('eggs', 5.25), ('honey', 9.7), 'peaches, 2.45']

In [15]:
import pprint as pp
list1 = [{"year":2013}, {'year':1999}, {'year':2008}]
list2 = sorted(list1, key = lambda x: x['year'])  #sorted returns a new sorted list, leaves original list unaffected
pp.pprint(list2)

[{'year': 1999}, {'year': 2008}, {'year': 2013}]

# Lambda Filter

In [19]:
list1 = list(range(1,7)) #start at index 1, end at index 6
print(list1)
list2 = list(filter(lambda x: x%2 ==0, list1)) #filters items in the list
print(list2)

[1, 2, 3, 4, 5, 6]
[2, 4, 6]

In [20]:
odds = lambda x: x%2 == 1
list1 = list(range(1,7))
list2 = list(filter(odds, list1))
print(list2)

[1, 3, 5]

# Lambda Map

map(function, iterable)

In [22]:
list1 = list(range(1,7))
list2 = list(map(lambda x: x ** 2, list1))
list2

[1, 4, 9, 16, 25, 36]

# Lambda Conditionals

lambda arguments: a if boolean_expression else b

In [25]:
starts_with_J = lambda x: True if x.startswith('J') else False #startswith method
print(starts_with_J('Joey'))

True

In [27]:
#splits string into a list, and index the word minus 1
wordb4 = lambda s, w: s.split()[s.split().index(w)-1] if w in s else None 
sentence = "Four score and seven years ago"
wordb4(sentence, "seven")

'and'

# Lambda on DateTime Objects

In [28]:
import datetime
now = datetime.datetime.now()
year = lambda x: x.year #converts to year only
year(now)

2020

# Lambda within a function

Lambda function can be a 1st level object

In [29]:
def do_something(f, val):
    return f(val)

func = lambda x: x**3 #cube
print(func(16)) 
print(do_something(func,5))

4096
125

# Extreme Lambdas

In [42]:
#test if a string is a number
isnum = lambda x: x.replace('.','',1).isdigit() #if ., replace with blank, once
print(isnum('25983'))
print(isnum('3.1415'))
print(isnum('T57'))
print(isnum('-16'))

#test if a string with negative sign (level 2 lambda function)
#if string start with negative sign, then return index 1 and onwards, else return string as is
is_num = lambda y: isnum(y[1:]) if y[0]=='-' else isnum(y)
print(is_num('-16'))

#convert to number (level 3 lambda function)
#if string is a number (positive and negtive), convert to float, else return -1 
tonum = lambda z: float(z) if is_num(z) else -1
print(tonum('30y'))
print(tonum('-21.67'), type(tonum('-21.67'))) #checks type

True
True
False
False
True
-1
-21.67 <class 'float'>

# Pandas - Map (Series Method)

maps an existing series to a different set of values

In [1]:
import pandas as pd
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
#maps Sex series to different column
train['Sex_num'] = train.Sex.map({'female':0, 'male':1}) #map to a dictionary where female is 0, and male is 1
train.loc[0:4, ['Sex', 'Sex_num']]

      Sex  Sex_num
0    male        1
1  female        0
2  female        0
3  female        0
4    male        1

# Pandas - Apply (Series and Dataframe method)

### Apply a function to each element in a series

In [49]:
#calculate length of name string in the name column
train['Name_length'] = train.Name.apply(len)
train.loc[0:4, ['Name', 'Name_length']]  #index row, then column based on value

                                                Name  Name_length
0                            Braund, Mr. Owen Harris           23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           51
2                             Heikkinen, Miss. Laina           22
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           44
4                           Allen, Mr. William Henry           24

In [51]:
#calculate ceiling using numpy function
import numpy as np
train['Fare_ceil'] = train.Fare.apply(np.ceil)
train.loc[0:4, ['Fare','Fare_ceil']]

      Fare  Fare_ceil
0   7.2500        8.0
1  71.2833       72.0
2   7.9250        8.0
3  53.1000       54.0
4   8.0500        9.0

### Apply a function to each element in a series with LAMBDA

In [73]:
#split string into list
train.Name.str.split(',').head()

#create fuction to get 0th index of the string list
def get_element(my_list, position):
    return my_list[position]

#use apply to get last name of each person
x = train.Name.str.split(',').apply(get_element, position=0).head()
print(x)

#completed in lambda
x = train.Name.str.split(',').apply(lambda x: x[0]).head()
print(x)

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object
0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

### Apply a function to each element in a dataframe

In [86]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
print(drinks.head())
#apply max value of the selected columns
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=0) #axis=0 is column direction

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa

beer_servings      376
spirit_servings    438
wine_servings      370
dtype: int64

In [92]:
#np.argmax is the max value in a specific column 
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1).head() #axis=1 is column direction

/anaconda/envs/pyfull36/lib/python3.6/site-packages/numpy/core/fromnumeric.py:61: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  return bound(*args, **kwds)

0      beer_servings
1    spirit_servings
2      beer_servings
3      wine_servings
4      beer_servings
dtype: object

### Apply a function to each element in a dataframe with LAMBDA

In [110]:
drinks['continent'].apply(lambda x: True if x=="Asia" else False).head()

0     True
1    False
2    False
3    False
4    False
Name: continent, dtype: bool

# Pandas - Applymap (Dataframe method)

Apply a function to <u>every</u> element of a dataframe, no axis

In [124]:
drinks.loc[:, 'beer_servings':'wine_servings'] = drinks.loc[:, 'beer_servings':'wine_servings'].applymap(float)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,0.0,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa

# String Functions

.split() - str.split(',') - split strings into a list <br>
.replace() - .replace('.','',1) - replace . with '' once <br>
.join() - ''.join() - join strings together <br>
.reverse() - reverse strings <br>
.count(o) - counts o in string <br>

# Factorize - Assign new ID based on unique values

    historical['Customer_ID'] = pd.factorize(historical['MatchKey'])[0] + 1000
    
pd.factorize returns tuple of arrays where `[0]` is codes and `[1]` is unique values. We need codes so we index `[0]`. pd.factorize is a built-in vectorized method which is much faster than using apply

# Mask - Slice date based on values in a column

In [ ]:
#Convert date format
data['POL_CHGEFF_DATE']=pd.to_datetime(data['POL_CHGEFF_DATE'])

#filter to weekly data for testing
start_date = '2019-08-01'
end_date = '2019-08-07'
mask = (data['POL_CHGEFF_DATE'] >= start_date) & (data['POL_CHGEFF_DATE'] <= end_date)
data = data[mask]

#Test using daily refresh
data = data[(data['POL_CHGEFF_DATE'] == '2019-08-01')]
print("Number of test records: " + str(len(data)))

# Slice certain columns

In [ ]:
import numpy as np
historical.iloc[:, np.r_[0:5, 6:len(historical.columns)]]

# Slice Certain columns with filter

In [ ]:
import numpy as np
a = df.columns.get_loc('FIRST_NAME')
b = df.columns.get_loc('LAST_NAME')
c = df.columns.get_loc('POLICY_NUMBER')
d = df.columns.get_loc('STATUS_CODE')
e = df.columns.get_loc('LINE_OF_BUSINESS_CODE')
f = df.columns.get_loc('Customer_ID')

df = df.iloc[:, np.r_[a:a+1, b:b+1, c:c+1, d:d+1, e:e+1, f:f+1]]
df = df[(df['STATUS_CODE'] == 'AC')].reset_index(drop=True)

# Slice using loc and iloc

In [ ]:
curr_pol = refresh.iloc[i,refresh.columns.get_loc('Pol_set')]

# Slice every nth row

In [ ]:
# Every odd row
df.iloc[::2, :].sort_values(by='Customer_ID')

# Every even row
df.iloc[::-2, :].sort_values(by='Customer_ID')

# Removing Set from Set

In [ ]:
import pandas as pd
historical = pd.DataFrame({'Last_Name': ['Alice', 'Bob'],
                   'Gender': ['F', 'M'],
                   'Date_of_Birth': ['1990-01-01', '1986-02-02'],
                   'Account_Number': [123, 456],
                   'Customer_ID': [1001,1002],
                   'Status': ["Active","Inactive"],
                   'Pol_set':[{151,454},{787,878}]
                          })
refresh = pd.DataFrame({'Last_Name': ["John", 'Alice'],
                   'Gender': ['M','F'],
                   'Date_of_Birth': ['1990-01-01', '1990-01-01'],
                   'Account_Number': [567,123],
                   'Status': ["Inactive","Active"],
                   'Pol_set': [{858},{171}]})

historical['Pol_set'][0] = historical['Pol_set'].values[0] - (refresh['Pol_set'].values[1])
historical

# Adding Set from Set

In [ ]:
import pandas as pd
historical = pd.DataFrame({'Last_Name': ['Alice', 'Bob'],
                   'Gender': ['F', 'M'],
                   'Date_of_Birth': ['1990-01-01', '1986-02-02'],
                   'Account_Number': [123, 456],
                   'Customer_ID': [1001,1002],
                   'Status': ["Active","Inactive"],
                   'Pol_set':[{151,454},{787,878}]
                          })
refresh = pd.DataFrame({'Last_Name': ["John", 'Alice'],
                   'Gender': ['M','F'],
                   'Date_of_Birth': ['1990-01-01', '1990-01-01'],
                   'Account_Number': [567,123],
                   'Status': ["Inactive","Active"],
                   'Pol_set': [{858},{171}]})

historical['Pol_set'][0] = historical['Pol_set'].values[0].union(refresh['Pol_set'].values[1])
historical

# Return boolean without index

In [ ]:
# Use .any() to return any element with True (otherwise False)
historical.loc[j, "Customer_ID"].isnull().any()

# Pandas index value without dataframe

In [ ]:
historical = pd.DataFrame({'Last_Name': ['Alice', 'Bob'],
                   'Gender': ['F', 'M'],
                   'Date_of_Birth': ['1990-01-01', '1986-02-02'],
                   'Account_Number': [123, 456],
                   'Customer_ID': [1001,1002],
                   'Status': ["Active","Inactive"],
                   'Pol_set':[{151,454},{787,878}]
                          })

historical['Pol_set'].values[0]

# Convert loc to iloc when indexing

In [ ]:
historical = pd.DataFrame({'Last_Name': ['Alice', 'Bob'],
                   'Gender': ['F', 'M'],
                   'Date_of_Birth': ['1990-01-01', '1986-02-02'],
                   'Account_Number': [123, 456],
                   'Customer_ID': [1001,1002],
                   'Status': ["Active","Inactive"],
                   'Pol_set':[{151,454},{787,878}]
                           
historical.loc[historical["MatchKey"] == refreshMatchKey,'Pol_set'].index.values[0]

# Length of Values Count for items greater than 1

In [ ]:
df['Test'].value_counts.ne(1).sum()

# Length of non-exclusive data in two dataframe

In [ ]:
#use isin with negation and then sum
(~df2['ID'].isin(df1['ID'])).sum()

# Rows for non-exclusive data in two dataframe

In [ ]:
df1[~df1['CUXID'].apply(tuple,1).isin(df2['CUXID'].apply(tuple,1))]

# Convert date using lambda and filter

In [ ]:
#convert date formart
import datetime as dt
data['POL_CHGEFF_DATE'] = data['POL_CHGEFF_DATE'].apply(lambda x: dt.datetime.strptime(x,'%d%b%Y'))

#filter to weekly data for testing
start_date = '2019-08-01'
end_date = '2019-08-07'
mask = (data['POL_CHGEFF_DATE'] >= start_date) & (data['POL_CHGEFF_DATE'] <= end_date)
data = data[mask]

#number of records
print("Number of test records: " + str(len(data)))

#Test using daily refresh
data = data[(data['POL_CHGEFF_DATE'] == '2019-08-01')]
print("Number of test records: " + str(len(data)))

#reset index
data = data.reset_index(drop=True)
data.head()

# Deduplication

In [ ]:
data=data.drop_duplicates(subset=['FIRST_NAME', 'LAST_NAME', 'BIRTH_DATE','NEW_ADDR1_1',
                                  'NEW_CITY1_1', 'PROV1_1', 'NEW_PC1_1'], keep='first').reset_index(drop=True)

# Concate multiple column into a single column

In [ ]:
new_df['CUXID'] = new_df['custid'].astype(str)+ new_df['bucketid'].astype(str) + new_df['PROV1_1']

# Rearrange columns

In [ ]:
cols = df.columns.tolist()
cols = cols[17:18] + cols[0:17] + cols[18:]
df = df[cols]

# Drop Rows

In [ ]:
# Index in the bracket
x = x.drop([0,2])

# Concatenate different dataframes without index

In [ ]:
# List of your dataframes
pdList = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19]
new_df = pd.concat(pdList, ignore_index=True)

# Concatenate different dataframes by Columns

In [ ]:
df = pd.concat([df1, df2, df3], axis=1) #axis = 1 for columns, 0 for rows

# Convert string to set when loading csv in pandas

### Using eval()

In [ ]:
#dataframe will not show the quotes
x['pol_set'] = x['pol_set'].apply(eval)

### Using ast.literal_eval()

In [ ]:
import ast
def setConvert(string):
    return set() if txt == 'set()' else ast.literal_eval(string)
df['pol_set'] = df['pol_set'].apply(setConvert)

# Without 'set()' string
df['pol_set'] = df['pol_set'].apply(ast.literal_eval)

### Using ast.literal_eval() + apply.lambda()

In [ ]:
import ast
x['pol_set'] = x['pol_set'].apply(lambda x: set() if x == 'set()' else ast.literal_eval(x))

# Limit string length of pandas column

In [ ]:
historical['Customer_Matchkey'] = historical['Customer_Matchkey'].str.slice(-15,-1)
historical['Address_Matchkey'] = historical['Address_Matchkey'].str.slice(-15,-1)
historical

# Subset dataframe

In [ ]:
df = df[['pol_set']]
df = df.iloc[[1]]

# Searching

In [ ]:
# Search row 1 from refresh in historical
refresh['matchkey'].isin(historical['matchkey'])[0] 

# Faster searching using set().values
refresh['matchkey'].isin(set(historical['matchkey'].values))[0]

# Search refresh matchkey row 1 to historical matchkey row
i = historical['matchkey'] == refresh['matchkey'][0]
# Find index of searched row above
j = historical.loc[i].index.values[0]

# Use Index as a Column

In [ ]:
df_drop['index_col'] = df_drop.index

# Time Conversion

In [1]:
import datetime
str(datetime.timedelta(seconds=666))

'0:11:06'

# Time Measurement

In [ ]:
import timeit
start1 = timeit.default_timer()
print("\n\nPython script completed, total processing time:", str(datetime.timedelta(seconds=(stop1-start1))))
stop1 = timeit.default_timer()

# Convert Date Measurement

In [ ]:
data['POL_CHGEFF_DATE'] = data['POL_CHGEFF_DATE'].apply(lambda x: dt.datetime.strptime(x,'%d%b%Y'))

# Convert Date Measurement (Simple)

In [ ]:
data['POL_CHGEFF_DATE']=pd.to_datetime(data['POL_CHGEFF_DATE'], errors='coerce')

# Subtracting Dates

In [ ]:
df_test['Difference'] = (df_test['First_Date'] - df_test['Second_Date']).dt.days

# Filter date by 1 year

In [ ]:
# Filter date by 1 year
date1 = df_trans['POL_CHGEFF_DATE'].max()
date2 = df_trans['POL_CHGEFF_DATE'].max() - pd.DateOffset(years=1)
df_trans_1year = df_trans[(df_trans['POL_CHGEFF_DATE'] <= date1) & (df_trans['POL_CHGEFF_DATE'] >= date2)]

# Today's Date

In [ ]:
end_date = pd.Timestamp.now().normalize() # The current date

# Previous Date (Subtracting dates)

In [ ]:
# Subtract by 1 year
previous_date = end_date - pd.DateOffset(years=1)

# Calculate Age

In [ ]:
# The current date
end_date = pd.Timestamp.now().normalize()

def calculate_age(born):                 
    return end_date.year - born.year - ((end_date.month, end_date.day) < (born.month, born.day)) 

data['BIRTH_DATE'] = pd.to_datetime(data['BIRTH_DATE'], errors='coerce') 
data['Age'] = data['BIRTH_DATE'].apply(calculate_age)

# Set Age for Filter

In [ ]:
# The current date
end_date = pd.Timestamp.now().normalize() 

# Add minimum age of 18 years column
data['minimum_age_18'] = end_date - pd.DateOffset(years=18)
data['minimum_age_18'] = pd.to_datetime(data['minimum_age_18'], errors='coerce')
minimum_age_18 = data['minimum_age_18'][0]

# Add maximum age of 100 years column
data['maximum_age_100'] = end_date - pd.DateOffset(years=100)
data['maximum_age_100'] = pd.to_datetime(data['maximum_age_100'], errors='coerce')
maximum_age_100 = data['maximum_age_100'][0]

# Define Age Group

In [ ]:
# Filter age between 18 to 100
df_master_age = df_master[(df_master["Age"] < 100) & (df_master['Age'] >= 18)]

# Define age group
def ageGroup(age):
    if (age >= 18) & (age <= 19):
        return "18 to 19 years"
    elif (age >= 20) & (age <= 29):
        return "20 to 29 years"
    elif (age >= 30) & (age <= 39):
        return "30 to 39 years"
    elif (age >= 40) & (age <= 49):
        return "40 to 49 years"
    elif (age >= 50) & (age <= 59):
        return "50 to 59 years"
    elif (age >= 60) & (age <= 69):
        return "60 to 69 years"
    elif (age >= 70):
        return "70 years and over"

# Apply age group
df_master_age['Age_Group'] = df_master_age['Age'].apply(ageGroup)

# Read SAS directly

In [ ]:
import pandas as pd
csv = 'auto_prop_cam_202001.sas7bdat'
data = pd.read_sas(csv, format = 'sas7bdat',encoding='latin-1')
data

# Sort Columns Alphabetically

In [ ]:
refresh = refresh.sort_index(axis=1)

# Filter Items in a Column

In [ ]:
df[df['Customer_ID'] == 1]

# Filter two items in a Column

In [ ]:
start_date = '2019-08-01'
end_date = '2019-08-07'
df = data[(data['POL_CHGEFF_DATE'] >= start_date) & (data['POL_CHGEFF_DATE'] <= end_date)]

# Filter multiple items in a Column

In [ ]:
renew_list = ['RE', 'AC']
df_filtered = data[data['STATUS_CODE'].isin(renew_list)]

# Filter two items in a Column with OR

In [ ]:
data[(data['STATUS_CODE'] == 'RE') | (data['STATUS_CODE'] == 'AC')]

# List of Missing Value (NaN) in Pandas Column

In [ ]:
df[df['Customer_ID'].isnull() == True]

# Total missing values in a column

In [ ]:
data['DRIVEWISE_DISCOUNT_FLAG'].isnull().sum()

# Get index number for Column

In [ ]:
df2.columns.get_loc('MAKE_NAME')

# Add New Row in Pandas DataFrame

In [ ]:
# -1 for last row
df.iloc[-1] = ['test',0]

# Merge - Convert IDs from one table to another table using Matchkey

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'unique_value': ['xyz123', 'eff987', 'efg125', 'xyz123', 'eff987', 'test'], 'ID': [1000, 1001, 1002, 1000, 1001,500]})
df2 = pd.DataFrame({'unique_value': ['xyz123', 'xyz123', 'eff987', 'efg125', 'xyz123']})

df2 = df2.merge(df1.drop_duplicates(), on='unique_value', how='left')
df2

# Merge - Left Join Without duplicates

In [ ]:
df2 = df2.merge(df1.drop_duplicates(), on='unique_value', how='left')

# Alternative Join

In [ ]:
pd.merge(df1, df2, on='Customer_ID', how='left')

# New File

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv('test2.csv', encoding='latin-1')
#del df['Unnamed: 0']
df.head()

In [ ]:
df[(df['POLICY_NUMBER']==151809458)]

In [ ]:
print(df.columns.tolist())

# Reload file without index column

In [ ]:
historical = pd.read_csv(historical_csv, index_col=0, encoding='latin-1')

# Load Certain Rows in a csv File

In [ ]:
import pandas as pd
rows_to_keep = np.arange(0,200,1).tolist()
refresh = pd.read_csv('combined_fview_new_phone_20210215.csv', encoding='latin-1', skiprows = lambda x: x not in rows_to_keep)

# Create a list of numbers using numpy

In [ ]:
import numpy as np
np.arange(0.05, 1.05, 0.05).tolist()

In [ ]:
# Round by 2 (.tolist() goes outside)
import numpy as np
np.round(np.arange(0.05, 1.05, 0.05), 2).tolist()

# Progress Update

In [ ]:
# Progres update
progress = np.round(np.arange(0.05, 1.05, 0.05), 2).tolist() # [0.05, ... , 1.0]
for prog in progress:
    if i == (len(refresh) * prog):
        print("Progress update: " + str(prog * 100) + "% at " + str(i) + ' record of out ' + str(len(refresh)) + " records completed")

# Show nicer dataframe using print

In [ ]:
from tabulate import tabulate
print(tabulate(df_term, headers='keys'))

# Update Particle Row and Column in Pandas

In [ ]:
#at for column
df['x'].at['C'] = 10.0

# Divide Two Separate DataFrame with same columns

In [ ]:
df_renew_rate = df_renew.merge(df_total.drop_duplicates(), on='PROV1_1', how='left')
df_renew_rate['Customer_ID (%)'] = round(df_renew_rate['Customer_ID_x']/df_renew_rate['Customer_ID_y'], 2)*100
df_renew_rate = df_renew_rate.iloc[:,np.r_[0:1,3:4]]
print(tabulate(df_renew_rate, headers='keys'))

# Rename Pandas Column

In [ ]:
df = df.rename(columns={"PolicyNumber": "POLICY_NUMBER"})

# Value Counts for each bucket

In [ ]:
pd.set_option('display.max_rows', None)
data["BUCKET_ID"].value_counts(sort=False)

# Sum function based on multiple group by

In [7]:
def add_column(dataset, function, firstGroup, secondGroup, aggregateValue):
    if function == 'sum':
        dataset['Sum'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.sum())
    elif function == 'cum_sum':
        dataset['Cum_Sum'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.cumsum())
    elif function == 'max':
        dataset['Cum_Max'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.cummax())
    elif function == 'min':
        dataset['Cum_Min'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.cummin())
    elif function == 'avg':
        dataset['Cum_Mean'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.expanding().sum())
    else:
        x = input("please enter a proper function. Functions include: sum, cum_sum, max, min or avg.")
        print(x)
        if x == 'sum':
            dataset['Sum'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.sum())
        elif x == 'cum_sum':
            dataset['Cum_Sum'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.cumsum())
        elif x == 'max':
            dataset['Cum_Max'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.cummax())
        elif x == 'min':
            dataset['Cum_Min'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.cummin())
        elif x == 'avg':
            dataset['Cum_Mean'] = dataset.groupby([firstGroup, secondGroup])[aggregateValue].apply(lambda x: x.expanding().sum())
        
df_final = add_cum_sum(df, 'sum', "CustomerID", 'Pro', "Policy")

# Pivot Table for Unique Customers

In [ ]:
x = pd.pivot_table(data, index=['MAKE_NAME', 'MODEL_NAME'], columns=['PROV1_1'], values=['Customer_ID'], aggfunc=lambda x: len(x.unique()))
x.dropna()#.reset_index()

# Print Numbers with Commas

In [ ]:
num = 10000000
print(f"{num:,}")

# Working with NA

In [ ]:
df.dropna()

In [ ]:
# Changes it to NaT instead of NaN
df.notna()

# Work with Set

In [ ]:
#aggregates operations #frozenset returns immutable objects
.agg(frozenset)

# Total number of customer ID

In [ ]:
# Take total first
df_total_cus = data['Customer_ID'].nunique()

# Total number of customer ID per province

In [ ]:
# Take total first then group by province
df_total = data.groupby(['PROV1_1'])['Customer_ID'].nunique().reset_index()

# Average Number of Policies each customer has

In [ ]:
# Take total first then group by customers
df_avg = data.groupby(['Customer_ID'])['POLICY_NUMBER'].nunique().reset_index() 
# Then take average
df_avg = df_avg['POLICY_NUMBER'].mean().reset_index().round(2)

# Average Number of Policies each customer has per province

In [ ]:
# Take total first then group by customers and province
df_avg = data.groupby(['Customer_ID', 'PROV1_1'])['POLICY_NUMBER'].nunique().reset_index() 
# Then take average then group by province
df_avg = df_avg.groupby(['PROV1_1'])['POLICY_NUMBER'].mean().reset_index().round(2)

# Total customers with multiple products (Product in different rows)

In [ ]:
# 1st approach
df_auto = data[data['LINE_OF_BUSINESS_CODE'] == 'AU']
df_prop = data[data['LINE_OF_BUSINESS_CODE'] == 'PR']
df_auto = (df_auto[df_auto['Customer_ID'].isin(df_prop['Customer_ID'])])
df_auto = df_auto['Customer_ID'].nunique()

In [ ]:
# 2nd approach
# Take total first then group by customers
out = a.groupby(['Customer_ID'])['LINE_OF_BUSINESS_CODE'].agg(frozenset).value_counts()

In [ ]:
# 3rd approach
v = ['AU','PR']
out = a.groupby('Customer_ID')['LINE_OF_BUSINESS_CODE'].apply(lambda x: set(x) == set(v)).sum()

# Total customers with multiple products per province (Product in different rows)

In [ ]:
# 1st approach
df_auto = data[data['LINE_OF_BUSINESS_CODE'] == 'AU']
df_prop = data[data['LINE_OF_BUSINESS_CODE'] == 'PR']
df_multi = (df_auto[df_auto['Customer_ID'].isin(df_prop['Customer_ID'])])
df_multi = df_multi.groupby('PROV1_1')['Customer_ID'].nunique().reset_index()

In [ ]:
# 2nd approach

# Take total first then group by customers
out = a.groupby(['Customer_ID', 'PROV1_1'])['LINE_OF_BUSINESS_CODE'].agg(frozenset).reset_index() 
# Then take toal then group by province
out = out.groupby(['PROV1_1'])['LINE_OF_BUSINESS_CODE'].value_counts()

# Average Age per Address ID

In [ ]:
df_age = data.groupby(['Address_ID'])['Age'].mean().reset_index()
df_age = df_age['Age'].mean()

# Average Age per Address ID per province

In [ ]:
df_age = df_age.groupby(['Address_ID', 'PROV1_1'])['Age'].mean().reset_index()
df_age = df_age.groupby(['PROV1_1'])['Age'].mean().reset_index()

# Total number of vehicles (brand and model)

In [ ]:
# 1st approach
df_total_veh = data.groupby(['MAKE_NAME'])['MODEL_NAME'].nunique().reset_index()
df_total_veh = df_total_veh['MODEL_NAME'].sum()

In [ ]:
# 2nd approach
#Customer_ID is a throwaway column, .count() will count the MODEL_NAME
data.groupby(['MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].count().reset_index()

# Total number of customers for each vehicle per province (brand and model)

In [ ]:
df_total_veh = data.groupby(['PROV1_1', 'MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].nunique().reset_index()
print(tabulate(df_total_veh, headers='keys'))

# Top 3 Most Popular Vehicles (brand and model)

In [ ]:
df_veh_top_3 = data.groupby(['MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].nunique().reset_index()\
.sort_values(by='Customer_ID', ascending=False)[0:3]
df_veh_top_3 = df_veh_top_3.rename(columns={"Customer_ID": "Customer_ID (Count)"})
print("\n\n\n2) Top 3 most popular vehicles:\n")
print(tabulate(df_veh_top_3, headers='keys'))

# Top 3 Most Popular Vehicles per province (brand and model)

In [ ]:
df_top_3_ON = data[(data['PROV1_1'] == 'ON')]
df_top_3_AB = data[(data['PROV1_1'] == 'AB')]
df_top_3_NS = data[(data['PROV1_1'] == 'NS')]
df_top_3_PQ = data[(data['PROV1_1'] == 'PQ')]
df_top_3_ON = df_top_3_ON.groupby(['PROV1_1', 'MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].nunique().reset_index()\
.sort_values(by='Customer_ID', ascending=False)[0:3]
df_top_3_AB = df_top_3_AB.groupby(['PROV1_1', 'MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].nunique().reset_index()\
.sort_values(by='Customer_ID', ascending=False)[0:3]
df_top_3_NS = df_top_3_NS.groupby(['PROV1_1', 'MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].nunique().reset_index()\
.sort_values(by='Customer_ID', ascending=False)[0:3]
df_top_3_PQ = df_top_3_PQ.groupby(['PROV1_1', 'MAKE_NAME', 'MODEL_NAME'])['Customer_ID'].nunique().reset_index()\
.sort_values(by='Customer_ID', ascending=False)[0:3]
df_veh_top_3 = pd.concat([df_top_3_ON, df_top_3_AB, df_top_3_NS, df_top_3_PQ], axis=0)
df_veh_top_3 = df_veh_top_3.rename(columns={"Customer_ID": "Customer_ID (Count)"})
print("\nTop 3 most popular vehicles per province:\n")
print(tabulate(df_veh_top_3, headers='keys'))

# Customers that are TE but NOT if they have both TE and AC policies

In [ ]:
df_active = data[data['STATUS_CODE'] == 'AC']
df_term = data[data['STATUS_CODE'] == 'TE']

df_term = (df_term[~df_term['Customer_ID'].isin(df_active['Customer_ID'])])
df_term = df_term['Customer_ID'].nunique()

# Customers that are TE but if they have both TE and AC policies

In [ ]:
df_active = data[data['STATUS_CODE'] == 'AC']
df_term = data[data['STATUS_CODE'] == 'TE']

df_term = (df_term[df_term['Customer_ID'].isin(df_active['Customer_ID'])])
df_term = df_term['Customer_ID'].nunique()

# Percentage Change from previous row

In [ ]:
df_cum['pct_change'] = (df_cum.groupby('video_id')['count'].apply(pd.Series.pct_change)*100)

# Bucket column values

In [ ]:
# New Column to have buckets (Category datatype)
buckets = [0,2500,5000,7500,10000,12500,15000,17500]
df_total_views['bucket'] = pd.cut(df_total_views['count'], buckets)

# Aggregate function by Customer ID

In [ ]:
df.groupy(['Customer_ID']).agg({'Calls':'count', 'Claims':{'sum', 'mean'}})

# Self Join - Customers left and came back (Trans Table)

In [ ]:
# Groupby policies and status codes for each customer, then take latest date for each record
df_trans_all = df_trans.groupby(['Customer_ID', 'POLICY_NUMBER', 'STATUS_CODE'])['POL_CHGEFF_DATE'].max().reset_index()

# Filter new table with only terminated policies for each customer
df_trans_term = df_trans_all[(df_trans_all['STATUS_CODE'] == 'TE')]

# Merge terminated policies with all policies (Self Join)
df_trans_joined = pd.merge(df_trans_term, df_trans_all, on ='Customer_ID', how='left')

# Filter date for new policies that occured after original terminated policies for each customer
df_trans_joined_filter = df_trans_joined[(df_trans_joined['POL_CHGEFF_DATE_y'] > df_trans_joined['POL_CHGEFF_DATE_x'])]

# Filter status for new policies that's active after original terminated policies for each customer
df_trans_joined_filter = df_trans_joined_filter[(df_trans_joined_filter['STATUS_CODE_x'] == 'TE')\
                                                & (df_trans_joined_filter['STATUS_CODE_y'] == 'AC')]

# Total customers left and came back
df_trans_joined_filter['Customer_ID'].nunique()

### When they came back, distribution of customer choosing monoline or multiline (Trans table to Master Table)

In [ ]:
# Create new list of customer id for customer who returned
renewed_list = df_trans_joined_filter['Customer_ID'].tolist()

# Filter list back to original data (Master table)
df_return_id = df_master_age[df_master_age['Customer_ID'].isin(renewed_list)]

# Filter for returned customers who has multi products 
df_auto = df_return_id[df_return_id['LINE_OF_BUSINESS_CODE'] == 'AU']
df_prop = df_return_id[df_return_id['LINE_OF_BUSINESS_CODE'] == 'PR']
df_multi = (df_auto[df_auto['Customer_ID'].isin(df_prop['Customer_ID'])])
multi = df_multi['Customer_ID'].nunique()

# Filter for returned customers who has auto only
df_only_auto = (df_auto[~df_auto['Customer_ID'].isin(df_prop['Customer_ID'])])
df_only_auto = df_only_auto['Customer_ID'].nunique()

# Filter for returned customers who has property only
df_only_prop = (df_prop[~df_prop['Customer_ID'].isin(df_auto['Customer_ID'])])
df_only_prop = df_only_prop['Customer_ID'].nunique()

# Total customers left and came back
total = df_return_id['Customer_ID'].nunique()
total

# Distribution of customers that came back have multi products, auto only or property only
df_dist = pd.DataFrame({'Multiline for return customer': [round(multi/total*100, 2)],
                        'Auto only for reutrn customer': [round(df_only_auto/total*100, 2)],
                        'Property only for reutrn customer': [round(df_only_prop/total*100, 2)],})
df_dist

# .tail(1) - What was the last product customers dropped (Trans Table)

In [ ]:
# Filer to lastest transactions for policy
df_drop = df_trans.sort_values('POL_CHGEFF_DATE').groupby('POLICY_NUMBER').tail(1)

# Filter to terminated status
df_drop = df_drop[(df_drop['STATUS_CODE'] == 'TE')]

# Distribution of customers who dropped last products
df_drop = df_drop.groupby(['LINE_OF_BUSINESS_CODE'])['Customer_ID'].nunique().reset_index()

# Total Customers that dropped products
total = df_drop['Customer_ID'].sum()

# Final distribution with percentage for customers who dropped last products
df_drop['Distribution'] = df_drop['Customer_ID'].apply(lambda x: round(x/total*100,2))
df_drop

# .tail(2) - Address before and after 1 year change (Trans Table)

In [ ]:
# Filter date by 1 year
date1 = df_trans['POL_CHGEFF_DATE'].max()
date2 = df_trans['POL_CHGEFF_DATE'].max() - pd.DateOffset(years=1)
df_trans_1year = df_trans[(df_trans['POL_CHGEFF_DATE'] <= date1) & (df_trans['POL_CHGEFF_DATE'] >= date2)]

# Filter customers who changed addresses
def numChanges(x):
    return sum(x.iloc[:-1] != x.shift(-1).iloc[:-1]) # If each row does not equal to each row that's 'SHIFTED' down by 1, return the number of changes
df_trans_1year = df_trans_1year.groupby('Customer_ID').agg({'Address_ID':numChanges}).reset_index()
df_trans_1year_chg = df_trans_1year[(df_trans_1year['Address_ID'] > 0)]

# Create list for customers who changed address
new_id = df_trans_1year_chg['Customer_ID'].tolist()
df_trans_1year_add = df_trans[df_trans['Customer_ID'].isin(new_id)]
df_trans_1year_add = df_trans_1year_add.groupby('Customer_ID').tail(2).reset_index(drop=True)

# .diff() + .isin() - How often customer churn when they move (Trans Table)

### Includes solving issue with only 1 policy of TE (no previous AC)

In [ ]:
# Filter out terminated policies only
df_term = df_trans[df_trans['STATUS_CODE'] == 'TE']

# Sort transactions data ascending, by Customer ID, Policy Number and Date
df_sort = df_trans.sort_values(by = ['Customer_ID', 'POLICY_NUMBER', 'POL_CHGEFF_DATE'])

# Filter out active customers (use sorted table to filter out active customers, show only customer that was AC to TE)
df_sort = df_sort[df_sort['Customer_ID'].isin(df_term['Customer_ID'])]
total = df_sort['Customer_ID'].nunique()

# Filter out SINGLE terminated policies (no previous active policies from historical data)
df_issue = df_sort.groupby(['POLICY_NUMBER', 'STATUS_CODE']).size().reset_index()
df_issue = df_issue[df_issue[0]==1]
df_issue = df_issue[df_issue['STATUS_CODE'] == 'TE']

df_sort = df_sort[~df_sort['POLICY_NUMBER'].isin(df_issue['POLICY_NUMBER'])]

# Check for address change before customer terminated
df_sort['Change'] = df_sort['Address_ID'].diff()

# Total number of customers that changed address at termination
df_sort = df_sort[df_sort['Change'] != 0.0]
df_sort = df_sort['Customer_ID'].nunique()
print(df_sort)
print(df_sort/total)

# numChange - How often does customer change address in 1 year (Trans Table)

### numChange function

In [ ]:
# If each row does not equal to each row that's 'SHIFTED' down by 1, return the number of changes
def numChanges(x):
    return sum(x.iloc[:-1] != x.shift(-1).iloc[:-1]) 
df = df.groupby('Customer_ID').agg({'Address_ID':numChanges}).reset_index()

In [ ]:
# Filter date by 1 year
date1 = df_trans['POL_CHGEFF_DATE'].max()
date2 = df_trans['POL_CHGEFF_DATE'].max() - pd.DateOffset(years=1)
df_trans_1year = df_trans[(df_trans['POL_CHGEFF_DATE'] <= date1) & (df_trans['POL_CHGEFF_DATE'] >= date2)]

# Filter customers who changed addresses
def numChanges(x):
    return sum(x.iloc[:-1] != x.shift(-1).iloc[:-1]) # If each row does not equal to each row that's 'SHIFTED' down by 1, return the number of changes
df_trans_1year = df_trans_1year.groupby('Customer_ID').agg({'Address_ID':numChanges}).reset_index()
df_trans_1year_chg = df_trans_1year[(df_trans_1year['Address_ID'] > 0)]

# Average number of times customers change address in 1 year
print(df_trans_1year['Address_ID'].mean().round(2))
print('\n')

# Average number of times customers change address in 1 year (for all customers that moved only)
print(df_trans_1year_chg['Address_ID'].mean().round(2))

# Column Distribution based on attributes

In [ ]:
# Number of customers in each gender
df_gender = df_master_age.groupby(['GENDER_TYPE_CODE'])['Customer_ID'].nunique().reset_index()

# Gender composition
y = int(df_master_age['Customer_ID'].nunique())
df_gender['Composition'] = df_gender['Customer_ID'].apply(lambda x: round((x / y)*100,2))
df_gender